.itemIcon  {
    margin-bottom:10px;
}
.itemIcon svg {
    width: 36px !important;
    height: 36px !important;
}
.homepage_priceing_content {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #4384FF;
}
.homepage_priceing_title  {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #2D3748;
}
.homepage_priceing_subtitle {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #646E73 !important;
    margin-bottom: 30px !important;
}
.home_page_hub_title  {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    color: #2D3748 !important;
}
/* .home_page_hub_content  p,.home_page_hub_content  p font, .home_page_hub_content  p font span {
    
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 32px !important;
    color: #646E73 !important;
} */
.sub_title_hub_card {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 26px !important;
    color: #646E73 !important;
}
.hub_counter_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    color: #2D3748 !important;   
}
.product_page_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 50px !important;
    line-height: 130% !important;
    color: #2D3748 !important;
}
.product_page_content {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 130%  !important;
    text-align: center !important;
    color: #2D3748 !important;
}
.service_fee  {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 130% !important;
    color: #2D3748 !important;
}
.all_fee {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 130% !important;
    text-align: center !important;
    color: #2D3748 !important;
}
.ultimate_priceservice_area {
    padding-top: 20px !important;
}
.service_top {
    margin-bottom: 45px !important;
}
.ultimate_priceservice_area {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.box_area {
    position: relative;
    overflow: visible !important;
}
.grid_content {
    position: relative;
    margin-bottom: 40px;
}

.home_page_grid_content_list {
    float: left;
    width: 82% !important;
    font-family: 'Lato', sans-serif, sans-serif !important;  
}
.home_page_team_content {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #646E73 !important;
    width: 540px;
    margin: 7px auto !important;
}
.home_page_team_content_list {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #646E73 !important;
    width: 927px;
    margin: 7px auto !important;
    margin-top: 20px;
}
.boxCard {
    display: block !important;
    position: absolute;
    width: 100%;
   
}
/* .price_section_left {
    float: left;
} */
.price_section_type {
    padding-top: 10px;
    /* float: left; */
    font-size: 14px  !important;
    color: rgba(45, 55, 72, 0.5)  !important;
    font-family: 'Lato', sans-serif, sans-serif;
}
.per_user_text{
    font-size: 14px !important;
    color: rgba(45, 55, 72, 0.5)  !important;  
    font-family: 'Lato', sans-serif, sans-serif;
}
.price_section {
    width: 142px !important;
    margin-bottom: 5px !important;
    display: block;
    overflow: hidden;
    font-family: 'Lato', sans-serif, sans-serif;
}
.price_section_text {
    font-size: 30px !important;
    color: #2D3748;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: block;
}
.grid_item:first-child {
    padding-left: 5px;
}
.grid_item:last-child {
    padding-right: 5px;
}
.addToOrder{
    background: rgba(55, 125, 255, 0.1) !important;
    color: #377DFF !important;
    box-shadow: none  !important;
    font-family: 'Lato', sans-serif, sans-serif !important;
    margin:0 auto !important;
    width: 255px;
}
.active_button .header_price  {
    background: #377DFF !important;
}
.grid_item_name {
    font-family: 'Lato', sans-serif, sans-serif !important;
    float: left !important;
    margin-top: 2px;
}
.faq_header{
    height: 140px;
    left: 100px;
    background: #377DFF;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px !important;
}
.faq_header_title{
    font-family: 'Lato', sans-serif, sans-serif !important;
    font-size: 30px;
    line-height: 39px;
}
.faq_content_title_para p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #2D3748;
}
.faq_content_paras {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #646E73;
}
.faq_header_content {
    font-family: 'Lato', sans-serif, sans-serif !important;
}
.header_price h4 {
    color: #2D3748;
    line-height: 31px;
    font-family: 'Lato', sans-serif, sans-serif !important;
    font-size: 24px;
}
.header_price p {
    color: #000;
    line-height: 20.8px;
    font-size: 16px;
    font-family: 'Lato', sans-serif, sans-serif !important;
}
.active_button .header_price  p {
    color: #fff !important;
    font-family: 'Lato', sans-serif, sans-serif  !important;
}
.ultimate_price {
    padding-bottom: 0px !important;
}
.active_button .header_price h4 {
    color: #fff !important;
}
.content_ultimate,.company_month  {
    font-size: 18px  !important;
    margin-top: 10px !important;
    font-weight: normal !important;
    line-height: 25px !important;
    margin-bottom: 10px !important;
}


.active_button  .addToOrder{
    background: #377DFF !important;
    color: #fff !important;
    box-shadow: none  !important;
}
.ultimate_plane_title {
    font-family: 'Lato', sans-serif, sans-serif;
    font-weight: 700px;
    font-size: 23px;
    line-height: 52px;
    color: #2D3748;
}
.content_ultimate  {
    font-family: 'Lato', sans-serif, sans-serif;
    font-weight: 700px;
    font-size: 18px;
    line-height: 23.4px;
    color: #2D3748;
}
.company_month  {
    font-size: 18px;
    font-family: 'Lato', sans-serif, sans-serif;
    font-weight: 400px;
    line-height: 23.4px;
    color: rgba(45, 55, 72, 0.7); 
}
.price_per_month {
    font-size: 24px;
    font-family: 'Lato', sans-serif, sans-serif;
    font-weight: 700 !important;
    line-height: 31.2px;
    color: #2D3748;
}
.home_switch_button   {
    width: 136px;
    height: 46px;
    border: 0px !important;
}
.toggleButton {
    border: 1px solid #377DFF;
}
.home_annual_button_btn  {
    
    background: rgba(55,125,255,.1) !important;
}
.home_annual_button_btn.Mui-selected {
   
    background: #377DFF !important;
}

.home_monthly_button_btn  {

    background: rgba(55,125,255,.1) !important;
    border-radius: 5px;
}
.home_monthly_button_btn,.home_monthly_button_btn {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    text-align: center;
    color: #FFFFFF;
}
.product_blog_page_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    text-align: center !important;
    color: #2D3748 !important;
}
.product_blog_page_content {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #646E73 !important;
}
.homepage_banner_image {
    box-shadow: none !important;
}
.home_page_banner_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 58px !important;
}
.home_page_banner_content {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    
    /* Greyish */
    
    color: #646E73;
}
.home_page_banner_lernmore {
/* Main blue */

    background: #377DFF  !important;
    border-radius: 5px !important;
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    /* identical to box height */

    text-align: center;

    /* White */

    color: #FFFFFF;
}
.home_page_banner_contact_us{
    font-family: 'Lato', sans-serif  !important;
    font-style: normal  !important;
    font-weight: 400  !important;
    font-size: 15px  !important;
    line-height: 18px  !important;
    /* identical to box height */

    text-align: center;

    /* Main blue */

    color: #377DFF;
    border: 1px solid #377DFF;
    border-radius: 5px;
}
.home_page_review_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #2D3748 !important;
}
.home_page_review_sub_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;

    /* Greyish */

    color: #646E73 !important;
}
.team_list_homepage  .MuiListItemText-multiline span {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #2D3748 !important;
}
.team_list_homepage  .MuiListItemText-multiline p {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #646E73 !important;
}
.home_page_team_the_team {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Main blue */

    color: #377DFF;
}
.center_contact_page_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Main blue */

    color: #2D3748;
}
.MuiOutlinedInput-input {
    background: #FFFFFF;
    /* border: 1px solid rgba(0, 0, 0, 0.1) !important; */
    border-radius: 5px;
}
.home_page_team_content,.about_page_content_global_center {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #646E73 !important;
}
.about_page_content_global_center  {
    width: 695px !important;
    margin: 20px auto !important;
}
.center_contact_page  {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #646E73 !important;
    text-align: center;
    margin: 20px auto !important;
}
.about_page_content_global {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: left !important;
    color: #646E73 !important;
}
.home_page_team_title,.about_page_title_global_center {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    text-align: center !important;
    color: #2D3748;
    
}
.contact_circle{
    background: #377DFF !important;
}
.contact_list_item  span{
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 32px !important;
    color: #2D3748 !important;
}
.contact_list_item  p {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 32px !important;
    color: #2D3748 !important;
}
.list_item_column .contact_list_item p {
    color: #646E73 !important; 
}
.about_page_title_global_center {
    width: 695px;
    margin: 0 auto !important;
}
.about_page_title_global {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    text-align: left !important;
    color: #2D3748;
}

.our_team_title {
    font-style: normal;
    font-weight: 700 !important;;
    font-size: 16px !important;;
    line-height: 19px !important;;
    text-align: center !important;;

    /* Greyish */

    color: #646E73 !important;;
}
.svg_color {
    background: #377DFF !important;
}
.blog_header {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #2D3748 !important;
}
.blog_descraption {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 29px !important;
    color: #646E73 !important;
}
.blog_header_area {
    padding: 25px 16px 0px 16px !important;
}

.product_service_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 130% !important;
    color: #2D3748 !important;
}
.product_service_content {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 130% !important;
    color: rgba(45, 55, 72, 0.7) !important;
}
.product_service_button {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 130% !important;
    color: #377DFF !important;

}
.compare_title{
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 130% !important;
    color: #2D3748 !important;
}
@media (min-width: 1200px) {
    
    .price_section_text {
        float: left;
    }
    
}
.home_page_customazation_area_subtitle {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #377DFF;

}
span,p,a,li,em,h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif !important;
}

.home_page_customazation_area_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    text-align: center !important;
    color: #2D3748 !important;
}
.home_page_customazation_area_content,.home_page_customazation_area_content span {
    
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    text-align: center !important;
}
.book_a_call_home {font-family: 'Lato', sans-serif;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    text-align: center !important;
    color: #FFFFFF !important;
}
.view_template_home {
    
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    text-align: center !important;
    color: #377DFF !important;

}
.partner_area_sub_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #4384FF !important;
}
.partner_area_title {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    color: #2D3748 !important;
}
.partner_area_content {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #646E73 !important;
}
.intrigation_area {
    margin-top: -79px;
}
.card_image_review .MuiAvatar-root {
    width: 40px !important;
    height: 40px !important;
}
.learn_more_review .product_service_button {
    position:absolute
}
.learn_more_review .product_service_button {
    position: absolute;
    left: 5px;
    bottom: -2px;
}

span.with_shifti {
    width: 100%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #377DFF;
} 
.compare_grid_title {
    font-family: 'Lato', sans-serif;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 130% !important;
    color: rgba(45, 55, 72, 0.6) !important;
}
.compare_grid_title_left {
    color:red;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 130% !important;
    color: #2D3748 !important;
}
span.ultimate_copy_cell_bottom {
    text-align: center;
    display: block;
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 130% !important;
    color: rgba(45, 55, 72, 0.6) !important;
}
.price_contact_use{
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 130% !important;
    color: #377DFF !important;
}
.hub_header_counter_title{
    margin: 4px  !important;
}
.hub_section_content_page p {
    font-family: 'Lato', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 32px !important;
    color: #646E73 !important;
}
.hub_header_counter_title {
    margin: -9px 0px 0px 0px !important;
}

/**
** About us 
**/
.who-we-are-title,.our-process-title {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    color: #2D3748 !important;
}
.who-we-are-content, .our-process-content{
    font-family: 'Lato';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #646E73;

}


.about_us_story_title {
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;
    color: #2D3748 !important;
}
.about_us_story_content {
    font-family: 'Lato';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    /* Greyish */
    color: #646E73 !important;
}

.contact_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #2D3748;
}

.contact_us_page_title {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 60px !important;
    line-height: 72px !important;
    color: #FFFFFF !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.contact_us_page_content {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #FFFFFF !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.name_label {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;

    /* Dark */

    color: #2D3748 !important;
}
.carrier_page_title{
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 58px !important;
    /* identical to box height */

    text-align: center !important;

    /* Dark */

    color: #2D3748 !important;
}
.carrier_sub_title{
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: center !important;
    /* Dark */
    color: #2D3748 !important;
}
.see_the_job {
    /* Main blue */

    background: #377DFF !important;
    border-radius: 5px !important;
    width:195px !important;
    height: 40px !important;
    margin-top: 20px !important;
}
.job_title {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #2D3748 !important;
}
.job_sub_title {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;

    /* Greyish */

    color: #646E73 !important;

}
.job_location {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: right !important;

    /* Greyish */

    color: #646E73 !important;
}
.category_title {
    font-style: normal !important;;
    font-weight: 700 !important;;
    font-size: 20px !important;;
    line-height: 24px !important;;
    /* identical to box height */
    /* Dark */
    color: #2D3748 !important;;
}
.customaztion_product {
    /* Small */

    filter: drop-shadow(0px 6px 24px rgba(140, 152, 165, 0.13)) !important;
    border-radius: 8px !important;
}
.category_content {
    font-style: normal !important;;
    font-weight: 400 !important;;
    font-size: 16px !important;;
    line-height: 19px !important;;

    /* Greyish */

    color: #646E73 !important;;
}
.opening_jobs {
    width: 64px;
    height: 32px;
    
    /* Main blue */
    border-radius: 4px !important;;
    font-style: normal !important;;
    font-weight: 400 !important;;
    font-size: 12px !important;;
    line-height: 14px !important;;
}
.opening_jobs_header {
    background: #377DFF !important;
}
.contact_details  {
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 38px !important;

    /* Dark */

    color: #2D3748 !important;
}
.contact_details_content   {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 32px !important;

    color: #646E73 !important;
}

.newslatter_title {
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 32px  !important;
    line-height: 38px !important;
    text-align: center !important;

    /* White */

    color: #FFFFFF!important;
}
.newslatter_content {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: #FFFFFF !important;

}
.subscriber_ermail {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    /* White */
    color: #FFFFFF !important;
    opacity: 0.6 !important;
}
.text_field_data input {
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;;
    border-radius: 5px !important;;
    font-style: normal !important;;
    font-weight: 400 !important;;
    font-size: 16px !important;;
    line-height: 19px !important;;
    /* Greyish */
    color: #646E73 !important;;
}
.navbarItem {
    background-color: #f7faff;
    z-index: 99999;
    position: absolute;
    width: 100%;
    padding: 0px;
    height: 24px;
}
.MuiPaper-elevation0 .header_area {
    padding-top: 26px;
}
.custom_link_button {
    padding: 0px !important;
    color: #666 !important;
}
.open_the_gallery {
    background: none !important;
    float: right !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 34px !important;
    text-align: right !important;
    color: #377DFF !important;
    padding: 0px !important;
    height: auto !important;
    box-shadow: none !important;
    /* margin-top: -20px !important; */
}

.button_are_gallery {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin-top: -53px;
}
.account_setting {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 48px !important;
    /* identical to box height */


    color: #2E374A !important;
}
.account_page_list {
    height: 300px;
    margin-bottom: -230px;
}
.box_package {
    background: #FFFFFF !important;
    border: 1px solid #497FFF !important;
    box-shadow: 0px 0px 20px rgba(46, 55, 74, 0.1) !important;
    border-radius: 10px !important;
    /* width: 824px; */
    height: 263px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.your-add-ones {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: #2E374A !important;
    margin-bottom: 20px !important;
}
.order_table_head {
    font-weight: 600 !important;
}
.order_table_row {
    width: 824px;
    height: 50px;
    background: rgba(73, 127, 255, 0.2);
    border-radius: 10px 10px 0px 0px;
}
.order_table_row td{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E374A;
}
.order_table_body {
    font-weight: 600 !important;
}
.order_table_body tr {
    background: rgba(73, 127, 255, 0.08);
    border-radius: 0px;
    border-top: 7px solid #fff;
    height: 50px;
}
.order_table_body tr:last-child {
    border-radius: 0px 0px 10px 10px;
}

.order_table_body_row {
    font-weight: 600 !important;
}
.accounts_menu  {
    background: #497FFF;
    border-radius: 10px;
}
.accounts_menu {
    background: #497FFF;
    border-radius: 10px;
    padding: 10px 23px;
    color: #fff !important;
}

.accounts_menu .MuiTypography-body1 {
    color: #fff !important;
}
.accounts_menu svg {
    color: #fff !important;
}

.my_order_total_amount {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 36px !important;
    line-height: 54px !important;
    color: #2E374A !important;
    width: 100%;
    float: left;
    clear: both;
    padding: 13px 20px;
    width: 100%;
}
.my_order_total_user {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #2E374A !important;
    width: 100% !important;
    margin-left: 20px !important;
}
.my_order_per_user {
    font-family: 'Poppins !important';
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 36px !important;
    line-height: 54px !important;
    width: 100% !important;
    color: #2E374A !important;
    margin-left: 16px !important;
    margin-top: 15px !important;
}
.left_package { width: 50%; float: left;}
.right_package {width: 50%; float: right;}
.my_order_subcraption {
    font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        /* identical to box height */
        color: #FFFFFF !important;
        /* Inside auto layout */
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
}
.dolor_per_user {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    /* identical to box height */
    color: #2E374A !important;
}
.pro-text {
    
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    /* identical to box height */
    color: #FFFFFF !important;
    position: absolute;
    left: 45px;
}
.top_pro_sum.MuiBox-root.css-0 {
    width: 100%;
    float: left;
    position: relative;
}